.center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card-mini {
  width: 32%;
}
